/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

======================================================================================
   MaracujaRP - CSS Variables
   This file contains the CSS variables used throughout the MaracujaRP design system.
   It defines colors, fonts, and other design tokens that can be reused in styles.
======================================================================================
   DESIGN SYSTEM - MaracujaRP
====================================================================================== */

:root {
  /* =========  BACKGROUND ========= */
  --background: #282828;
  --sidebar-background: #222222;
  --card-background: #303030;


  /* =========     TEXT    ========= */
  --default-text: #ffffff;
}


/* =========  BASE STYLES ========= */

body {
  background: var(--background);
  color: hsl(var(--foreground));
  font-family: var(--font-body);
  line-height: 1.6;
  min-height: 100vh;
}


/* =========  COMPONENTS  ========= */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  background: var(--background);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 165, 0, 0.4);
  box-shadow: rgba(255, 165, 0, 0.2) 0px 4px 6px -1px, rgba(255, 165, 0, 0.2) 0px 2px 4px -1px;
}